apiVersion: v1
kind: Template
metadata:
  name: {{ vm_name }}-template
  annotations:
    description: "OCP KubeVirt Red Hat Enterprise Linux 7.4 VM template"
    tags: "kubevirt,ocp,template,linux"
  labels:
    kubevirt.io/os: rhel7.4
    miq.github.io/kubevirt-is-vm-template: "true"
objects:
- apiVersion: kubevirt.io/v1alpha1
  kind: OfflineVirtualMachine
  metadata:
    name: ${NAME}
  spec:
    template:
      spec:
        domain:
          cpu:
            cores: ${CPU_CORES}
          resources:
            requests:
              memory: ${MEMORY}
          machine:
            type: q35
          devices:
            disks:
              - name: disk0
                disk:
                  bus: {{ disk_bus }}
                volumeName: volume-1
        volumes:
          - name: volume-1
            persistentVolumeClaim:
              claimName: ${NAME}-disk-01
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: ${NAME}-disk-01
    annotations:
      k8s.io/CloneRequest: {{ pvc_name }}
  spec:
    storageClassName: kubevirt
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: {{ disk_size_bytes }}
parameters:
- name: NAME
  description: Name for the new VM
- name: MEMORY
  description: Amount of memory
  value: {{ mem }}{{ mem_unit }}
- name: CPU_CORES
  description: Amount of cores
  value: "{{ nr_cores }}"
