apiVersion: kubevirt.io/v1alpha2
kind: VirtualMachine
metadata:
  name: {{ vm_name }}
  labels:
    import-vm-apb/transaction_id: "{{ _apb_service_instance_id }}"
    kubevirt.io/vm: {{ vm_name }}
spec:
  dataVolumeTemplates:
  - metadata:
      name: "{{ image_type }}-{{ vm_name }}-dv-01"
    spec:
      pvc:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: {{ size_bytes|int }}
{% if storage_class is defined %}
          storageClassName: {{ storage_class }}
{% endif %}
      source:
        http:
          url: {{ disk_image_url }}
    status: {}
  running: false
  template:
    metadata:
      labels:
        kubevirt.io/vm: {{ vm_name }}
    spec:
      terminationGracePeriodSeconds: 0
      domain:
        cpu:
          cores: {{ nr_cores }}
        machine:
          type: q35
        resources:
          requests:
            memory: {{ mem }}{{ mem_unit }}
        devices:
          disks:
          - name: disk-1
            disk:
              bus: {{ disk_bus }}
            volumeName: "{{ vm_name }}-datavolumevolume"
      volumes:
      - dataVolume:
          name: "{{ image_type }}-{{ vm_name }}-dv-01"
        name: "{{ vm_name }}-datavolumevolume"
status: {}

