apiVersion: v1
kind: Template
metadata:
  name: {{ vm_name }}-template
  namespace: openshift
  annotations:
    description: "OCP KubeVirt Microsoft Windows Server VM template"
    tags: "kubevirt,ocp,template,windows,virtualmachine"
    iconClass: icon-windows
  labels:
    kubevirt.io/os: windows
    miq.github.io/kubevirt-is-vm-template: "true"
    import-vm-apb/transaction_id: "{{ _apb_service_instance_id }}"

objects:
- apiVersion: kubevirt.io/v1alpha2
  kind: VirtualMachine
  metadata:
    name: ${NAME}
  spec:
    running: false
    template:
      spec:
        metadata:
          labels:
            kubevirt.io/domain: ${NAME}
        domain:
          features:
            acpi: {}
            apic: {}
            hyperv:
              relaxed: {}
              vapic: {}
              spinlocks:
                spinlocks: 8191
          clock:
            utc: {}
            timer:
              hpet:
                present: false
              pit:
                tickPolicy: delay
              rtc:
                tickPolicy: catchup
              hyperv: {}
          cpu:
            cores: ${{'{{'}}CPU_CORES{{'}}'}}
          machine:
            type: q35
          resources:
            requests:
              memory: ${MEMORY}
          devices:
            disks:
              - name: disk1
                disk:
                  bus: {{ disk_bus }}
                volumeName: volume-1
        volumes:
          - name: volume-1
            persistentVolumeClaim:
              claimName: vm-${NAME}-disk-01
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: vm-${NAME}-disk-01
    annotations:
      k8s.io/CloneRequest: {{ namespace }}/{{ pvc_name }}
  spec:
{% if storage_class is defined %}
    storageClassName: {{ storage_class }}
{% endif %}
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: {{ disk_size_bytes }}
parameters:
- name: NAME
  description: Name for the new VM
- name: MEMORY
  description: Amount of memory
  value: {{ mem }}{{ mem_unit }}
- name: CPU_CORES
  description: Amount of cores
  value: "{{ nr_cores }}"
