apiVersion: v1
kind: Template
metadata:
  name: {{ VMNAME }}-template
  annotations:
    description: "OCP KubeVirt Microsoft Windows Server 2016 VM template"
    tags: "kubevirt,ocp,template,windows"
  labels:
    kubevirt.io/os: win2k16
    miq.github.io/kubevirt-is-vm-template: "true"
objects:
- apiVersion: kubevirt.io/v1alpha1
  kind: OfflineVirtualMachine
  metadata:
    name: ${NAME}
  spec:
    template:
      spec:
        domain:
          features:
            acpi: {}
            apic: {}
            hyperv:
              relaxed: {}
              vapic: {}
              spinlocks:
                spinlocks: 8191
          clock:
            utc: {}
            timer:
              hpet:
                present: false
              pit:
                tickPolicy: delay
              rtc:
                tickPolicy: catchup
              hyperv: {}
          cpu:
            cores: ${CPU_CORES}
          machine:
            type: q35
          resources:
            requests:
              memory: ${MEMORY}
          devices:
            disks:
              - name: disk1
                disk:
                  bus: {{ BUS }}
                volumeName: volume-1
        volumes:
          - name: volume-1
            persistentVolumeClaim:
              claimName: {{ PVCNAME }}
parameters:
- name: NAME
  description: Name for the new VM
- name: MEMORY
  description: Amount of memory
  value: {{ MEMORY}}{{ UNIT }}
- name: CPU_CORES
  description: Amount of cores
  value: "{{ CORES }}"

